.icon {
    transition: fill 0.4s ease;
    fill: rgba(135, 154, 169, 0.8);
}

.icon:hover {
    fill: rgba(191, 202, 210, 0.9);
}

.btn-outline-light {
    color: #89c2d9;
    border-color: #89c2d9;
    -webkit-appearance: none; 
}
.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active, .btn-outline-light.active, .open>.dropdown-toggle.btn-outline-light {
    color: #1f2224;
    background-color: #89c2d9;
    border-color: #012a4a; 
}

.p-fade {
    opacity: 0;
    animation: fadeIn 2s 1;
    animation-fill-mode: forwards;
}

.p-fade:nth-child(5n+1) {
    animation-delay: 0.5s;
}

.p-fade:nth-child(5n+2) {
    animation-delay: 1s;
}

.p-fade:nth-child(5n+3) {
    animation-delay: 1.5s;
}

.p-fade:nth-child(5n+4) {
    animation-delay: 2s;
}

.p-fade:nth-child(5n+5) {
    animation-delay: 2.5s;
}

.p-fade:nth-child(5n+6) {
    animation-delay: 3s;
}

@keyframes fadeIn {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
}

.tile-container {
    position: relative;    
}
.tile {
    width: 50px;
    height:50px;
    background-color: transparent;
    position:fixed;
    z-index: -1;
    opacity: 0;
    animation: fadeIn 2s 1;
    animation-fill-mode: forwards;
    animation-delay: 4s;
}

@media (min-width: 750px) {
    body {
        font-size: 1.5rem;
    }
    #display-6 {
        size: 1.5rem;
    }
}