.icon {
    transition: fill 0.4s ease;
    fill: rgba(135, 154, 169, 0.8);
}

.icon:hover {
    fill: rgba(191, 202, 210, 0.9);
}

.btn-outline-light {
    color: #89c2d9;
    border-color: #89c2d9;
    -webkit-appearance: none; 
}
.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active, .btn-outline-light.active, .open>.dropdown-toggle.btn-outline-light {
    color: #1f2224;
    background-color: #89c2d9;
    border-color: #012a4a; 
}